html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FF708C;
    
    font-family: 'Lobster', sans-serif;
    
    overflow: hidden;
    
}

#notice {
    display: table;
    width: 100%;
    height: 100%;
}

#notice span {
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    text-shadow: 4px 4px #D65E76;
    color: #56FF94;
    font-weight: bold;
    font-size: 3em;
    
    transform: rotate(-5deg);
}

#notice span i { text-shadow: none; }